.box1{height:160px;
	width:160px;
	margin:30px;
	background-color:pink;
	float:left;
}
.box2{height:160px;
	width:160px;
	margin:30px;
	background-color:pink;
	float: left;
}
.box3{height:160px;
	width:160px;
	margin:30px;
	background-color:pink;
	float:left;
}