#middymidmid {
	width: 800px;
	margin: 0 auto;
}
p.italic {
    font-style: italic;
}

body {background-color:#43464B;}
.box1 {
	background-color: #DAA520;
	height: 130px;
	width: 500px;
	float: top; padding: 50px; margin: 50px;
	background-image: cover;
}

.box2 {
	background-color: #993300;
	height:300px;
	width:500px;
	float: top; padding: 50px; margin: 50px;
	background-opacity: 0.4; 
	background-size: cover;
}
  
.box4 {
	height: 100px;
	width: 100px;
	background-color: #DAA520;
	float: left; padding: 10px; margin: 50px; 
	image-rendering: auto;
}

.box5 {
	background-color: #DAA520;
	height: 100px;
	width: 100px;
	float: left; padding: 10px; margin: 50px; background-size: cover;
	background-image: cover;
}

.box3 {
	background-color: #DAA520;
	height:100px;
	width:100px;
	float: left;
	padding: 10px; margin: 50px;

	image-rendering: auto;
}

.box1:hover {
	background-color: #98ff98;
}

.box2:hover {
	background-color: #98ff98;
}
.box3:hover {
	background-color: #98ff98;
}
.box4:hover {
	background-color: #98ff98;
}
.box5:hover{
	background-color: #98ff98;
}

h3 {font-family: cursive; margin: 0;}
h1 {margin: 0; font-size: 230%;}

.borderpad {
	height: 1100px;
	width: 1220px;
	border-style: solid;
	border-color: orange;
	border-width: 10px;
}

img {
	image-rendering: pixelated;
}